<!DOCTYPE html>
<html lang="ja">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
        　media="all">
    <link rel="stylesheet" type="text/css" href="/css/ll-main.css">
    <link rel="stylesheet" type="text/css" href="/css/input.css" media="all">
    <title><%=title %></title>
</head>

<body>
    <div class="ll-container">
        <div class="ll-flex-grow10">
            <form action="/edit" method="post" enctype="multipart/form-data" id="form">
                <label for="file_photo" id="preview" class="img-label preview">
                    <input type="file" name="file" id="file_photo" accept="image/*" style="display: none;">
                    <input type="hidden" name="image_url" id="image_url" />
                    <img src="/images/icon.png" id="photo-img">
                </label>
                <div class="menu" id="menu">
                    <div class="menu-top" id="menuTop">
                        <div></div>
                        <input type="text" id="nameTxt" placeholder="食品名を入力" name="name" required>
                    </div>
                    <div class="topIcon">
                        <div class="nav-btn">
                            <img class="ll-icon" src="/images/time.png" alt="time" />
                            <p class="ll-icon-text">期限</p>
                        </div>
                        <div class="nav-btn">
                            <img class="ll-icon" src="/images/place.png" alt="place">
                            <p class="ll-icon-text">保存場所</p>
                        </div>
                        <div class="nav-btn">
                            <img class="ll-icon" src="/images/category.png" alt="category">
                            <p class="ll-icon-text">カテゴリ</p>
                        </div>
                        <div class="nav-btn">
                            <img class="ll-icon" src="/images/memo.png" alt="memo">
                            <p class="ll-icon-text">メモ</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-container" id="container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="input inout-row input-border">
                                    <label class="label_font" for="timer">賞味期限</label>
                                    <input type="date" id="timer" name="limit_day" required />
                                </div>
                                <div class="input input-border">
                                    <label class="label_font">通知日</label>
                                    <div class="toggle-buttons" id="notification_day"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="input inout-row input-border">
                                    <label class="label_font" for="placeTxt">保存場所</label>
                                    <input type="text" id="placeTxt" name="place" placeholder="保存場所を入力">
                                </div>
                                <div class="toggle-buttons">
                                    <label class="label_font">
                                        <input type="radio" name="placeRadio" value="冷蔵庫" />
                                        <span class="button">冷蔵庫</span>
                                    </label>
                                    <label class="label_font">
                                        <input type="radio" name="placeRadio" value="冷凍庫" />
                                        <span class="button">冷凍庫</span>
                                    </label>
                                    <label class="label_font">
                                        <input type="radio" name="placeRadio" value="常温" />
                                        <span class="button">常温保存</span>
                                    </label>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="input input-border">
                                    <label class="label_font">カテゴリ</label>
                                    <div class="toggle-buttons input">
                                        <label>
                                            <input type="radio" class="categoryButton" name="category" value="0" />
                                            <span class="button">調味料</span>
                                        </label>
                                        <label>
                                            <input type="radio" class="categoryButton" name="category" value="1" />
                                            <span class="button">生鮮食品</span>
                                        </label>
                                        <label>
                                            <input type="radio" class="categoryButton" name="category" value="2" />
                                            <span class="button">保存食</span>
                                        </label>
                                        <label>
                                            <input type="radio" class="categoryButton" name="category" value="3" checked/>
                                            <span class="button">その他</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="input input-border">
                                    <label class="label_font">メモ</label>
                                    <div id="memoList" class="input ll-memo-list">
                                        <button type="button" id="memoAddBtn">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="input-hide ll-submit-block">
            <button type="button" id="submitButton">保存</button>
        </div>
        <div class="menu_bar input-hide">
            <a href="/edit" class="disabled">
                <svg>
                    <use href="/images/ll-icons.svg#addIcon"></use>
                </svg>
                <p class="ll-icon-txt">追加</p>
            </a>
            <a href="/list">
                <svg>
                    <use href="/images/ll-icons.svg#listIcon"></use>
                </svg>
                <p class="ll-icon-txt">一覧</p>
            </a>
            <a href="/history">
                <svg>
                    <use href="/images/ll-icons.svg#historyIcon"></use>
                </svg>
                <p class="ll-icon-txt">履歴</p>
            </a>
            <a href="/setting">
                <svg>
                    <use href="/images/ll-icons.svg#settingIcon"></use>
                </svg>
                <p class="ll-icon-txt">設定</p>
            </a>
        </div>
    </div>
    <div id="loader" class="ll-loading">
        <div class="loader"></div>
        <div class="ll-loader-back"></div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script type="text/javascript" src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript" src="/js/liff-edit.js"></script>
    <script type="text/javascript" src="/js/index.js" async></script>
</body>

</html>