<!DOCTYPE html>
<html lang="ja">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" type="text/css" href="/css/ll-main.css">
    <title>プリセット</title>
</head>

<body>
    <div class="ll-container">
        <div class="ll-top">
            <div class="ll-top_bar">
                <input type="search" id="search" placeholder="検索">
            </div>
            <div class="ll-top-icons" id="navBtns">
                <div data-slide="0">
                    <svg class="ll-icon">
                        <use href="/images/ll-icons.svg#allIcon"></use>
                    </svg>
                    <p class="ll-icon-txt">すべて</p>
                </div>
                <div data-slide="1">
                    <svg class="ll-icon">
                        <use href="/images/ll-icons.svg#seasonerIcon"></use>
                    </svg>
                    <p class="ll-icon-txt">調味料</p>
                </div>
                <div data-slide="2">
                    <svg class="ll-icon">
                        <use href="/images/ll-icons.svg#freshIcon"></use>
                    </svg>
                    <p class="ll-icon-txt">生鮮食品</p>
                </div>
                <div data-slide="3">
                    <svg class="ll-icon">
                        <use href="/images/ll-icons.svg#preservedIcon"></use>
                    </svg>
                    <p class="ll-icon-txt">保存食</p>
                </div>
                <div data-slide="4">
                    <svg class="ll-icon">
                        <use href="/images/ll-icons.svg#otherIcon"></use>
                    </svg>
                    <p class="ll-icon-txt">その他</p>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="list-all">
                    <button type="button" class="ll-list-btn">
                        <svg class="ll-list-icon"><use href="/images/ll-icons.svg#freshIcon"></use></svg>
                        <div class="ll-list-name">
                            <h4>test</h4>
                            <small>test</small>
                        </div>
                    </button>
                </div>
                <div class="swiper-slide" id="list-0">
                </div>
                <div class="swiper-slide" id="list-1">
                </div>
                <div class="swiper-slide" id="list-2">
                </div>
                <div class="swiper-slide" id="list-3">
                </div>
            </div>
        </div>
        <div class="menu_bar input-hide">
            <a href="/edit">
                <svg>
                    <use href="/images/ll-icons.svg#addIcon"></use>
                </svg>
                <p class="ll-icon-txt">追加</p>
            </a>
            <a href="/list">
                <svg>
                    <use href="/images/ll-icons.svg#listIcon"></use>
                </svg>
                <p class="ll-icon-txt">一覧</p>
            </a>
            <a href="/history">
                <svg>
                    <use href="/images/ll-icons.svg#historyIcon"></use>
                </svg>
                <p class="ll-icon-txt">履歴</p>
            </a>
            <a href="/setting">
                <svg>
                    <use href="/images/ll-icons.svg#settingIcon"></use>
                </svg>
                <p class="ll-icon-txt">設定</p>
            </a>
        </div>
    </div>
    <div id="loader" class="ll-loading" style="visibility: hidden;">
        <div class="loader"></div>
        <div class="ll-loader-back"></div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script type="text/javascript" src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript" src="/js/liff-preset.js"></script>
    <script type="text/javascript" src="/js/list.js" async></script>
</body>

</html>