<!DOCTYPE html>
<html lang="ja">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/line-limiter-static/css/ll-setting.css">
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/line-limiter-static/css/ll-main.css">
    <title>設定</title>
</head>

<body>
    <div class="ll-container">
        <div class="ll-main-block">
            <form id="settingForm" action="/setting" method="POST" enctype="multipart/form-data">
                <div class="ll-setbox ll-bottom-line">
                    <h4>通知時刻</h4>
                    <div class="ll-row">
                        <input type="number" name="notification" id="notification" min="0" max="23" required>
                        時
                    </div>
                </div>
                <div class="ll-setbox ll-bottom-line">
                    <h4>通知日</h4>
                    <div class="ll-row ll-notify-btn" id="notificationDay">
                        <button type="button" id="notifyAddBtn">+</button>
                    </div>
                </div>
                <div class="ll-setbox ll-bottom-line">
                    <h4>一覧表示</h4>
                    <div class="ll-row toggle-buttons">
                        <label>
                            <input type="radio" name="viewMode" value="false" checked>
                            <span class="button">リスト</span>
                        </label>
                        <label>
                            <input type="radio" name="viewMode" value="true">
                            <span class="button">カレンダー</span>
                        </label>
                    </div>
                </div>
                <div class="ll-setbox ll-bottom-line">
                    <div class="ll-row ll-row-center">
                        <button type="button" id="saveBtn">保存</button>
                    </div>
                </div>
            </form>
            <div class="ll-setbox ll-bottom-line">
                <h4>使い方</h4>
                <ul>
                    <li><a href="/help#add">追加方法</a></li>
                    <li><a href="/help#preset">プリセットの使い方</a></li>
                    <li><a href="/help#history">履歴から一覧へ</a></li>
                </ul>
            </div>
        </div>
        <div class="menu_bar input-hide">
            <a href="/edit">
                <svg>
                    <use href="/images/ll-icons.svg#addIcon"></use>
                </svg>
                <p class="ll-icon-txt">追加</p>
            </a>
            <a href="/list">
                <svg>
                    <use href="/images/ll-icons.svg#listIcon"></use>
                </svg>
                <p class="ll-icon-txt">一覧</p>
            </a>
            <a href="/history">
                <svg>
                    <use href="/images/ll-icons.svg#historyIcon"></use>
                </svg>
                <p class="ll-icon-txt">履歴</p>
            </a>
            <a href="/setting" class="disabled">
                <svg>
                    <use href="/images/ll-icons.svg#settingIcon"></use>
                </svg>
                <p class="ll-icon-txt">設定</p>
            </a>
        </div>
    </div>
    <div id="loader" class="ll-loading">
        <div class="loader"></div>
        <div class="ll-loader-back"></div>
    </div>
    <script type="text/javascript" src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript" src="https://storage.googleapis.com/line-limiter-static/js/liff-setting.js"></script>
</body>

</html>