<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="/jquery.min.js"></script>
    <meta name="”robots”" content="”noindex”">
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <title>設定</title>
</head>
<body>
    <div class="uk-container">
        <main>
            <h1>setting</h1>
            <form id="form">

                <div class="uk-margin">
                    <input type="number" id="notification" class="uk-input" min="0" max="23" required />
                </div>

                <button type="button" class="uk-button uk-button-primary" id="submit">Save</button>

            </form>
        </main>
    </div>

    <script type="text/javascript" src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript" src="/js/liff-setting.js"></script>
</body>
</html>
